<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-card-heading"
        data-cy="CardCreateUpdateHeading"
        jhiTranslate="aionDigitalMfEsApp.lookupsServiceCard.home.createOrEditLabel"
      >
        Create or edit a Card
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" *ngIf="editForm.controls.id.value !== null">
          <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="text" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="aionDigitalMfEsApp.lookupsServiceCard.nameAr" for="field_nameAr">Name Ar</label>
          <input type="text" class="form-control" name="nameAr" id="field_nameAr" data-cy="nameAr" formControlName="nameAr" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="aionDigitalMfEsApp.lookupsServiceCard.nameEn" for="field_nameEn">Name En</label>
          <input type="text" class="form-control" name="nameEn" id="field_nameEn" data-cy="nameEn" formControlName="nameEn" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="aionDigitalMfEsApp.lookupsServiceCard.cardTypeId" for="field_cardTypeId"
            >Card Type Id</label
          >
          <input
            type="number"
            class="form-control"
            name="cardTypeId"
            id="field_cardTypeId"
            data-cy="cardTypeId"
            formControlName="cardTypeId"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="aionDigitalMfEsApp.lookupsServiceCard.cardReference" for="field_cardReference"
            >Card Reference</label
          >
          <input
            type="text"
            class="form-control"
            name="cardReference"
            id="field_cardReference"
            data-cy="cardReference"
            formControlName="cardReference"
          />
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
